{% extends 'base.html.twig' %}

{% block title %}Hello NoAccessController!{% endblock %}

{% block body %}
  <div class="card mx-auto" style="width: 25rem;">
    <img src="{{ asset('images/5cee67b997c18_Real.png') }}" class="card-img-top" alt="NO ACCESS!">
    <div class="card-body">
      <p class="card-text"><b>NO ACCESS!</b><br><br>Please do not try that again.</p>
    </div>
  </div>
{% endblock %}
